%p#notice= notice
%h1 Listing timesheets
%table.table.table-striped
  %thead.thead-dark
    %tr
      %th Date
      %th Start time
      %th Finish time
      %th.text-center Actions

  %tbody
    - @timesheets.each do |timesheet|
      %tr
        %td= timesheet.date
        %td= timesheet.start_time
        %td= timesheet.finish_time
        %td.text-center
          = link_to 'Show', timesheet, class: 'btn btn-info btn-sm'
          = link_to 'Edit', edit_timesheet_path(timesheet), class: 'btn btn-success btn-sm'
          = link_to 'Destroy', timesheet, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm'

%br

= link_to 'New Timesheet', new_timesheet_path, class: 'btn btn-warning text-white'
