%h2 Timesheet Detail
%p#notice= notice

%table.table.borderless
  %tbody
    %tr
      %th Date
      %td
        = @timesheet.date
    %tr
      %th Start Time
      %td
        = l(@timesheet.start_time, format:  '%H:%M')
    %tr
      %th Finish Time
      %td
        = l(@timesheet.finish_time, format:  '%H:%M')
    %tr
      %th Amount
      %td
        = @timesheet.decorate.amount
= link_to 'Edit', edit_timesheet_path(@timesheet), class: 'btn btn-success'
= link_to 'Back', timesheets_path, class: 'btn btn-dark'
